# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados (PostgreSQL/Supabase)
DB_DIALECT=postgres
DB_HOST=seu_host_supabase
DB_USER=postgres
DB_PASSWORD=sua_senha_supabase
DB_NAME=postgres
DB_PORT=5432

# Autenticação e Segurança (JWT)
JWT_SECRET=escreva_algo_aqui
JWT_EXPIRES_IN=7d